
<h1>Create a new topic!</h1>

<div class="row">
  <div class="col-md-4">
    <h5>Rules for creating new topics:</h5>
    <ul>
      <li>Try not to duplicate existing topics.</li>
      <li>Be respectful.</li>
      <li>After you create this, check out something new!</li>
      <li>Have fun!</li>
    </ul>
  </div>
  <div class="col-md-8">
    <%= form_for @topic do |f| %>
      <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control', placeholder: "Enter topic title" %>
      </div>
      <div class="form-group">
        <%= f.label :body %>
        <%= f.text_area :body, rows: 8, class: 'form-control', placeholder: "Enter topic description" %>
      </div>
      
      <div class="form-group">
        <%= f.submit "Create Topic!", class: 'btn btn-success' %>
      </div>
      
    <% end %>
  </div>
</div>